$timer-display-line-height: 100px;
.timer-window {
    text-align: center;
    height: $timer-display-line-height;
    line-height: $timer-display-line-height;
    margin: $default-gutters;
}

.timer-display {
    color: #ffffff;
    font-size: 85px;
    letter-spacing: 6px;
}

.timer-options {
    display: flex;
    justify-content: space-evenly;
}

$time-option-height: 60px;
.timer-option {
    margin: $default-gutters;
    width: 140px;
    height: $time-option-height;
    line-height: $time-option-height;
    font-size: $time-option-height / 3;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 4px 8px #9c5b18bf;
    background-color: #ffffff;

    &:focus {
        outline: none;
    }

    &:active {
        color: #1f252d;
        box-shadow: none;
        transform: scale(.98);
    }
}
