.container {
    height: 100%;
    margin: 0 20px;
}
.time-display {
    display: inline;
    color: #696868;
    font-family: "Bebas Neue", sans-serif;
}

.default {
    color: #ffffff;
    background-color: #1f252d !important;
}
.warning {
    color: #9F6000 !important;
    background-color: #FEEFB3 !important;
}
.info {
    color: #059;
    background-color: #BEF;
}
.success {
    color: #270;
    background-color: #DFF2BF;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}
.input {
    width: 100%;
    margin-top: $default-gutters;
    margin-right: $default-gutters;
}
