@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?85v0zz');
  src:  url('fonts/icomoon.eot?85v0zz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?85v0zz') format('truetype'),
    url('fonts/icomoon.woff?85v0zz') format('woff'),
    url('fonts/icomoon.svg?85v0zz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-local_pizza:before {
  content: "\e903";
}
.icon-hourglass:before {
  content: "\e901";
}
.icon-cancel:before {
  content: "\e902";
}
.icon-close1:before {
  content: "\e902";
}
.icon-remove:before {
  content: "\e902";
}
.icon-dismiss:before {
  content: "\e902";
}
.icon-search1:before {
  content: "\e900";
}
.icon-reload:before {
  content: "\e904";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-users:before {
  content: "\e972";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-radio-checked:before {
  content: "\ea54";
}
