@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 10px;
}

.hour {
    color: #f5f3f399;
    font-size: 35vw;
    font-weight: 700;
    letter-spacing: 2px;
}

.second {
    color: #f5f3f370;
}
