$timer-display-line-height: 100px;
.timer-window {
    text-align: center;
    height: $timer-display-line-height;
    line-height: $timer-display-line-height;
    margin: $default-gutters;
}

.timer-display {
    color: #ffffff;
    font-size: 85px;
    letter-spacing: 6px;
}

.timer-options {
    display: flex;
    justify-content: space-evenly;
}

$time-option-height: 60px;
.timer-option {
    width: 140px;
    height: $time-option-height;
    line-height: $time-option-height;
    font-size: $time-option-height / 3;
}
