.module-activity {
    color: white;
}

.action-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

    $button-height: 40px;
    button {
        font-family: "Bebas Neue", sans-serif;
        height: $button-height;
        width: 160px;
        line-height: $button-height;
        font-size: 16px;
    }
}

.action-inputs {
    text-align: center;
    margin: $default-gutters;
}
