.module-activity {
    color: white;
}

.action-search {
    display: flex;
    border-radius: 8px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);

    input {
        width: 100%;
        height: 30px;
        border: 0;
        border-radius: .5px;
        font-size: 2rem;
        color: #ffffff;
        background: transparent;
        padding: 4px 10px;
    }

    .search-icon {
        cursor: pointer;
        width: 30px;
        position: absolute;
        top: 3px;
        right: 6px;
        line-height: 30px;
        font-size: 20px;
        text-align: center;

        &:active {
            color: #5a5959;
        }
    }
}

.activity-list {
    margin-top: $default-gutters;

    .activity-item {
        padding: 10px;
        margin-bottom: 4px;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.1);
        .comment {
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 5px;
        }
        .category-channel {
            padding: 2px 4px;
            margin-right: 8px;
            border-radius: 4px;
            border: 1px solid yellow;
        }
    }
}


